.page {
    background-image: url(background.webp);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    min-height: 100vh; 
    width: 100vw; 
}

.title_container {
    color:#0c0d0d;
    display: flex; 
    justify-content: center; 
    font-size: 35px;
    margin-top: 100px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    margin-top: 100px;
}

.outfit1 {
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

.outfit2 {
    border-radius: 8px;
    width:300px;
    height: 300px;
}

.caption {
    color: black; /* Change to any color you want */
    text-align: center; /* Center the text */
    font-weight: bold; /* Make it bold */
    text-decoration: none; /* Remove the underline */
    display: block; /* Ensure it takes full width under the image */
    margin-top: 10px; /* Add some space above the text */
    font-size: 18px; 
}
#audioPlayer {
    display: none; /* Hides the audio player */
}
